form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

.error {
    color: red
}

.container {
    display: flex;
    margin-top: 2em;
}

.editor-form {
    width: 30%;
    padding: 1rem;
}