<section class="top">
    <div class="container">
        <app-search-input [searchText]="searchText" (searchTextChanged)="onSearch($event)"></app-search-input>
        <div>
            <button class="add-button" (click)="openAddDialog()">Add Customer</button>
        </div>
    </div>
</section>
<section class="list">
    <div class="container">
        <div class="card-list">
            <div class="customer-card" *ngFor="let customer of filteredCustomers"
                [class.selected]="customer.id === selectedCustomer?.id">
                <div (click)="selectCustomer(customer)">
                    <customer-card [customer]="customer"></customer-card>
                </div>
                <div *ngIf="selectedCustomer" class="footer">
                    <button (click)="openEditDialog(selectedCustomer)">Edit</button>
                    <span class="spacer"></span>
                    <button (click)="deleteCustomer(selectedCustomer)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>